* {
  font-family: "Raleway", sans-serif;
}

/* Navbar */
.nav-button {
  border: 1px solid rgba(29, 209, 0, 0.4);
  background: rgba(29, 209, 0, 0.1);
}

/* Hero */
.hero {
  height: 90vh;
  background: linear-gradient(
    180deg,
    rgba(3, 7, 18, 0.5),
    rgba(3, 7, 18, 0) 100%
  );
}
.hero img {
  z-index: -2;
}
.banner_tokens_container {
  bottom: -10%;
}
.banner_tokens {
  border-bottom: 3px solid rgb(29, 209, 0);
  border-radius: 24px;
  background: rgb(255, 255, 255);
}
